/* Base Styles */

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: whitesmoke;
    overflow-y: visible;
    overflow-x: hidden;
}

nav {
    margin: 0;
    display: flex;
    justify-content: right;
    align-content: center;
    height: 2rem;
    background-color: ghostwhite;
}

nav a {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-right: 7px;
    text-decoration: none;
    color: rgb(255, 77, 77);
    border-left: 1px solid rgb(228, 228, 228);
    padding-left: 7px;
}

/* Index */
.splash-screen {
    font-size: 110%;
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1493882946517-213a21fe70f8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: 100vw;
    /* min-height: 100%; */
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.445),
               0px 8px 13px rgba(0, 0, 0, 0.39),
               0px 18px 23px rgba(0, 0, 0, 0.411);
    background-size: cover no-repeat;
    background-position: top;
}


.features {
    display: flex;
    justify-content:space-evenly;
    margin: 4rem 2rem 1rem 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 25vh;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    border-radius: 13px;
    padding: 1rem;
    overflow: hidden;
}

.card i{
    color: rgb(255, 106, 106);
    font-size: 2.5rem;
}

.card p{
    padding: 0px 1.2rem 0px 1.2rem;
}

.card a{
    margin-top: 1rem;
    text-decoration: none;
    background-color: rgb(255, 106, 106);
    color: black;
    padding: 2px 7px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;

}

/* Upload */

.upload-background {
    min-height: 100%;
    width: 100%;
}

.upload-background::before{
    content: "";
    display: block;
    position: absolute;
    min-height: 100%;
    width: 100%;
    background: url("./assets/pexels-pixabay-256318.jpg");
    background-size: cover;
    background-position: center;
    opacity: .2;
    z-index: -1; 
} 

.upload-title-container{
    padding-bottom: 2rem;
}

.image-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.image-container input{
    max-width: 12rem;
}

.image-container button{
    max-width: 6rem;
}


#image {
    width: 350px;
    height: 300px;
    display: none;
}

.upload-title{
    font-size: x-large;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.blurb {
    display: flex;
    justify-content: center;
    padding: 0;
}

.upload-form {
    font-size: large;
    width: 100vw;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-items: center;
    margin-bottom: 2rem;
    overflow: visible;
    padding-bottom: 6px;
}

.upload-form div {
    margin-top: .5rem;
    padding-bottom: 6px;
}

#ingredient-container{
    display: flex;
    flex-direction: column;
}

#upload-submit{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
}

#upload-submit button{
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(0, 153, 255);
    color: white;
    width: 10rem;
    height: 2rem;
    padding: 2px 7px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}

.restart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(255, 106, 106);
    color: black;
    width: 5rem;
    height: 2rem;
    padding: 2px 6px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
}

.instructions-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(0, 168, 0);
    color: white;
    width: 9rem;
    height: 2rem;
    padding: 2px 7px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
}

.footer{
    position: fixed;
    height: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    overflow: visible;
}

/* Search */

.search-background {
    min-height: 200%;
    min-width: 100%;
}

.search-background::before{
    content: "";
    display: initial;
    position: absolute;
    min-height: 200%;
    width: 100%;
    background: url("./assets/pexels-pixabay-256318.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    opacity: .2;
    z-index: -1; 
}

.search-title {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.search-form {
    height: 40vh;
    width: 100vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-items: center;
    margin-bottom: -22rem;
}


.search-form div {
    margin-top: 2rem;
}

#search-submit{
    display: flex;
    justify-content: center;
    align-content: center;
}


.match {
    color: red;
}


/* Random */

.random-background {
    min-height: 150%;
    min-width: 100%;
}

.random-background::before{
    content: "";
    display: initial;
    position: absolute;
    min-height: 150%;
    width: 100%;
    background: url("./assets/towfiqu-barbhuiya-oZuBNC-6E2s-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    opacity: .15;
    z-index: -1; 
}

.random-title {
    padding-top: 2rem;
    margin-bottom: -4rem;
    display: flex;
    justify-content: center;
}

.random-title h1{
    margin: 0;
}

.random-form {
    height: 40vh;
    width: 100vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-items: center;
}

.random-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: start;
    justify-content: start;
    margin-bottom: 1rem;
}

.random-form div {
    margin-top: 2rem;
}

#random-submit{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Recipes */

.recipe-container {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: top;
    margin-bottom: 1rem;
}

.recipe-container h1 {
    margin: 0;
}

.new-recipe-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.recipe-background {
    min-height: 200%;
    min-width: 100%;
}

.recipe-background::before{
    content: "";
    display: initial;
    position: absolute;
    min-height: 200%;
    width: 100%;
    background: url("./assets/pexels-pixabay-256318.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    opacity: .2;
    z-index: -1; 
}

.recipe {
    width: 60vw;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    border-radius: 13px;
}

.recipe p{
    max-width: 70%;
    padding: 0px 0rem 0rem 0rem;
    margin: 0
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(255, 106, 106);
    color: black;
    width: 5rem;
    height: 2rem;
    padding: 2px 6px;
    margin: 1rem 0rem 0rem 0rem;
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
}