{% extends 'base.html' %} 

{% block content %}
<div class="random-background">

<div class="random-title">
  <h1>Random Recipe</h1>
</div>

<div class="random-container">

{% for recipe in recipes %}
<div class="recipe">

    <div>
      <img src="{{recipe['img']}}" alt="" />
    </div>

    <h2>{{recipe['title']}}</h2>

    {% if recipe['type'] == 0 %}
    <p>Breakfast</p>
    {% elif recipe['type'] == 1%}
    <p>Lunch</p>
    {% elif recipe['type'] == 2%}
    <p>Dinner</p>
    {% else %}
    <p>Misc.</p>
    {% endif %}

    <ul>
      {% for item in ingredients %}
      <li>
          <span>{{item['description']}}</span>
          <span>:</span>
          <span>{{item['quantity']}}</span>
          <span> </span>
          <span>{{item['unit']}}</span>
      </li>
      {% endfor %}
  </ul>

    <!-- Instructions output, each '.' creates a new line -->
  {% set words = recipe['instructions'].split('.') %}
    {% for word in words %}
    <p>{{word}} </p>
    {% endfor %}


  </div>
  {% endfor %} 

</div>

<div class="random-form">
    <form action="" method="POST">
        <label for="random">Click to generate a random recipe:</label>
      <div id="random-submit">
        <button>Get Recipe</button>
      </div>
    </form>
  </div>

</div>
{% endblock %}