{% extends 'base.html' %} 

{% block content %} 

<div class="recipe-background">

<div class="recipe-container">

<h1>Recipes</h1>

{% for recipe in recipes %}
  <div class="recipe">

    <div>
      <img src="{{recipe['img']}}" alt="" />
    </div>

    <h2>{{recipe['title']}}</h2>

    {% if recipe['type'] == 0 %}
    <p>Breakfast</p>
    {% elif recipe['type'] == 1%}
    <p>Lunch</p>
    {% elif recipe['type'] == 2%}
    <p>Dinner</p>
    {% else %}
    <p>Misc.</p>
    {% endif %}

    <ul>
      {% for item in ingredients %}
      {% if item['recipe_id'] == recipe['id'] %}
      <li>
            <span>{{item['description']}}</span>
            <span>:</span>
            <span>{{item['quantity']}}</span>
            <span> </span>
            <span>{{item['unit']}}</span>
          
      </li>
      {% endif %}
      {% endfor %}
  </ul>

    <!-- Instructions output, each '.' creates a new line -->
    {% set words = recipe['instructions'].split('.') %}
    {% for word in words %}
    <p>{{word}} </p>
    {% endfor %}

    <div>
      <form action="{{url_for('delete', id=recipe['id'])}}"
      method="POST">
      <input class="delete-btn" type="submit" value="Delete">
      </form>
    </div>
  </div>

  {% endfor %} 
</div>
</div>
{% endblock %}
