{% extends 'base.html' %} 

{% block content %}

<div class="search-background">

<div class="search-title">
  <h1>Search For Recipe</h1>
</div>

<div class="search-form">
    <form action="" method="POST">
        <label for="keyword">Ingredients:</label>
        <input id="keyword" name="keyword" type="text" value="{{request.form['keyword']}}"></input>
      <div id="search-submit">
        <input class="btn" type="submit" />
      </div>
    </form>
  </div>

  <div class="recipe-container">

  {% for recipe, items in recipes.items() %}
        <div class="recipe">

        <div>
          <img src="{{items[0][5]}}" alt="" />
        </div>

        <h2>{{recipe}}</h2>

          {% if items[0][6] == 0 %}
            <p>Breakfast</p>
          {% elif items[0][6] == 1%}
            <p>Lunch</p>
          {% elif items[0][6] == 2%}
            <p>Dinner</p>
          {% else %}
            <p>Misc.</p>
          {% endif %}

        <ul>
          {% for item in items %}

              <li class="matched-ingredient">
                <span>{{item['description']}}</span>
                <span>:</span>
                <span>{{item['quantity']}}</span>
                <span> </span>
                <span>{{item['unit']}}</span>
              </li>
            
          {% endfor %}
        </ul>
        <p>{{items[0][7]}}</p>
      </div>
  {% endfor %} 
</div>
</div>

</div>
{% endblock %}

{% block javascript %}
<script>
  let btn = document.querySelector(".btn");
  let keyword = document.querySelector("#keyword");     

  btn.addEventListener("click", function () {
    let word = keyword.value;
    if (word !== ""){
      document.querySelector(".matched-ingredient").classList.add("match");
    } else {
      document.querySelector(".matched-ingredient").classList.remove("match");
    }
  });



</script>

{% endblock %}