{% extends 'base.html' %} 

{% block content %}

<div class="search-title">
  <h1>Search For Recipe</h1>
</div>

<div class="search-form">
    <form action="" method="POST">
        <label for="keyword">Ingredients:</label>
        <input name="keyword" type="text" value="{{request.form['keyword']}}"></input>
      <div id="search-submit">
        <input type="submit" />
      </div>
    </form>
  </div>

  {% for r in recipes %}
    {% for id in recipe_id %}
      {% if id['recipe_id'] == r['id'] %}
        <div class="recipe">

        <div>
          <img src="{{r['img']}}" alt="" />
        </div>

        <h2>{{r['title']}}</h2>

          {% if r['type'] == 0 %}
            <p>Breakfast</p>
          {% elif r['type'] == 1%}
            <p>Lunch</p>
          {% elif r['type'] == 2%}
            <p>Dinner</p>
          {% else %}
            <p>Misc.</p>
          {% endif %}

        <ul>
          {% for item in ingredients %}
            {% if item['recipe_id'] == r['id'] %}
              <li>
                <span>{{item['description']}}</span>
                <span>:</span>
                <span>{{item['quantity']}}</span>
                <span> </span>
                <span>{{item['unit']}}</span>
          
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <p>{{r['instructions']}}</p>
      {% endif %}
      </div>
    {% endfor %}
  {% endfor %} 
</div>



{% endblock %}
