{% extends 'base.html' %} 

{% block content %} 

<div class="upload-background">

<div class="recipe-container">
    
<h1>{{recipe['title']}}</h1>

  <div class="recipe">

    <div>
      <img src="{{recipe['img']}}" alt="" />
    </div>

    <h2>{{recipe['title']}}</h2>

    {% if recipe['type'] == 0 %}
    <p>Breakfast</p>
    {% elif recipe['type'] == 1%}
    <p>Lunch</p>
    {% elif recipe['type'] == 2%}
    <p>Dinner</p>
    {% else %}
    <p>Misc.</p>
    {% endif %}

    <ul>
        {% for item in ingredients %}
        <li>
            <span>{{item['description']}}</span>
            <span>:</span>
            <span>{{item['quantity']}}</span>
            <span> </span>
            <span>{{item['unit']}}</span>
        </li>
        {% endfor %}
    </ul>

    <p>{{recipe['instructions']}}</p>
  </div>

</div>

<div class="blurb">
  <h5>Not what you wanted? Delete at any time from recipes page.</h5>
</div>

</div>

{% endblock %}
