{% extends 'base.html' %} {% block content %}

<div class="upload-title">
  <h1>Upload New Recipe</h1>
</div>

<div class="image-container">
  <label for="image">Image:</label>
  <img id="image" src="#" alt="" />
  <p>Enter keyword to find an image!</p>
  <input id="keyword" type="text" />
  <button id="image-btn">Get Image!</button>
</div>

<div class="upload-form">
  <form action="">
    <div>
        
    </div>
    <div>
      <label for="title">Recipe Name:</label>
      <input type="text" />
    </div>
    <div>
      <label for="type">Meal Type:</label>

      <input type="radio" name="type" id="breakfast" />
      <label for="breakfast">Breakfast</label>

      <input type="radio" name="type" id="lunch" />
      <label for="lunch">Lunch</label>

      <input type="radio" name="type" id="dinner" />
      <label for="dinner">Dinner</label>
      <input type="radio" name="type" id="misc" />
      <label for="misc">Misc.</label>
    </div>
    <div>
      <label for="ingredients">Ingredients:</label>
      <input type="text" />
    </div>
    <div>
      <label for="description">Description:</label>
    </div>
    <div>
      <textarea name="description" id="description" cols="40" rows="30">
Type recipe instructions here...</textarea
      >
    </div>
    <div id="upload-submit">
      <input type="submit" />
    </div>
  </form>
</div>
{% endblock %} {% block javascript %}
<script>
  let btn = document.querySelector("#image-btn");
  // let image = document.querySelector("#image");
  let keyword = document.querySelector("#keyword");

  btn.addEventListener("click", function () {
    debugger;
    let word = keyword.value;
    let url = "https://source.unsplash.com/random/350x300/?" + word;
    console.log(url);
    document.querySelector("#image").src = url;
    document.querySelector("#image").style.display = "block";
    document.querySelector("#img-url").innerHTML = url;
  });
</script>

{% endblock %}
