{% extends 'base.html' %} 

{% block content %}

<div class="upload-background">

<div class="upload-title">
  <h1>Upload New Recipe</h1>
</div>

<div class="blurb">
  <h3>Add additional ingredients</h3>
</div>

<div class="recipe-container">
    <h1>{{title}}</h1>
    {% if type == '0' %}
    <h3>Breakfast</h3>
    {% elif type == '1'%}
    <h3>Lunch</h3>
    {% elif type == '2'%}
    <h3>Dinner</h3>
    {% else %}
    <h3>Misc.</h3>
    {% endif %}
    <h4>Ingredients:</h4>
    {% for ingredient in ingredients %}

    <li>
        <span>{{ingredient[0]}}</span>
        <span>:</span>
        <span>{{ingredient[1]}}</span>
        <span> </span>
        <span>{{ingredient[2]}}</span>
    </li>

    {% endfor %}

</div>




<div class="upload-form">
  <form action="" method="post">
    
    <div id="ingredient-container">
      <label name="ingredient-label" for="description">Ingredient:</label>
      <input name="description" type="text" value="{{request.form['desription']}}" required></input>
            
      <label for="quantity-label">Qty:</label>
      <input name="quantity" type="number" value="{{request.form['quantity']}}" required></input>
            
      <label name="unit-label" for="unit">Units:</label>
      <input name="unit" type="text" value="{{request.form['unit']}}" required></input>
    </div>
    
    <div id="upload-submit">
        <button type="submit">Add Ingredient</button>
    </div>

  </form>

  <div class="blurb">
    <h5>Finished adding ingredients? Let's add the instructions</h5>
  </div>

  <a class="instructions-btn" href="{{url_for('upload_instructions')}}">Add Instructions</a>
  
  <div class="blurb">
    <h5>Not what you wanted? Restart at any time.</h5>
  </div>

  <a class="restart-btn" href="{{url_for('upload_title')}}">Start Over</a>

</div>

</div>
{% endblock %} 
