{% extends 'base.html' %} 

{% block content %}

<div class="upload-title">
  <h1>Upload New Recipe</h1>
</div>

<div class="upload-form">
  <form action="">
      <div>
          <label for="image">Image:</label>
          <img src="#" alt="">
          <p>Enter keyword to find an image!</p>
          <input type="text">
          <button>Get Image!</button>
      </div>
    <div>
      <label for="title">Recipe Name:</label>
      <input type="text" />
    </div>
    <div>
      <label for="type">Meal Type:</label>

      <input type="radio" name="type" id="breakfast" />
      <label for="breakfast">Breakfast</label>

      <input type="radio" name="type" id="lunch" />
      <label for="lunch">Lunch</label>

      <input type="radio" name="type" id="dinner" />
      <label for="dinner">Dinner</label>
      <input type="radio" name="type" id="misc" />
      <label for="misc">Misc.</label>
    </div>
    <div>
      <label for="ingredients">Ingredients:</label>
      <input type="text" />
    </div>
    <div>
      <label for="description">Description:</label>
    </div>
    <div>
      <textarea name="description" id="description" cols="40" rows="30">Type recipe instructions here...</textarea>
    </div>
    <div id="upload-submit">
      <input type="submit" />
    </div>
  </form>
</div>
{% endblock %}
